@model IEnumerable<TwitterClone.Models.PERSON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<form>
    <h2>Your Profile Details</h2>

    <div>


        @foreach (var item in Model)
        {
            if (item.user_id == Session["User"].ToString())
            {
                <div class="panel">
                    FullName:
                    @Html.DisplayFor(modelItem => item.fullName)
                    <br />
                    Email:
                    @Html.Display("Email")
                    @Html.DisplayFor(modelItem => item.email)
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.user_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.user_id })

                </div>
            }
        }

    </div>
</form>