@model TwitterClone.Models.FOLLOWING

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    string clickeduser = ViewBag.user_id;
    string user = Session["user"].ToString();
    //@Model.following_id=> clickeduser;
    //@Model.user_id=> user;
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">

        <p>Are you sure to follow this user?</p>

        <div class="col-md-10">
            @Html.TextBoxFor(model => clickeduser, new { htmlAttributes = new { @class = "form-control" },@readonly="readonly",disabled="disabled" })
            @Html.ValidationMessageFor(model => clickeduser, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
